.bg{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/64/125/92/pokemon-pokemon-detective-pikachu-pikachu-hd-wallpaper-preview.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    height: 595px;
    border-radius: 5px;

}

body{
    background: #ffe259;
    background: linear-gradient(to right, #ffa751, #ffe259);
    
}

.sombra{
    box-shadow:0 1rem 3rem rgba(black, .175);
}