*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*PRINCIPAL1*/
.principal1{
  background-image: url("https://img.freepik.com/v-lineas-doradas_1017-27145.jpg?w=2000");
  width: 1350px;
    height: 500px;
  background-size: cover;
  background-position: center;
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}


.tarjeta1{
  width: 250px;
  margin: 90px;
  transform: rotate(-15deg);
}

.tarjeta2{
  position: relative;
  left: 60px;
  width: 360px;
  height: 190px;
  margin: auto;
}

.tarjeta3{
  width: 250px;
  margin: 90px;
  transform: rotate(15deg);
}

.button1{
  position: relative;
  right:190px;
  top: 390px;
  list-style: none;
}

/*principal 2*/

.principal2{
  background-image: url("https://static.vecteezy.com/system/resources/previews/010/742/637/non_2x/black-background-with-beautiful-sparkle-glitter-made-from-free-vector.jpg");
  background-size: cover;
  background-position: center;
}

.supremo3{
  position: relative;
  left: 878px;
  
}


.titulo2{
  position: relative;
  text-align: center;
  color: 	#D4AF37;
  font-size: 30px;
}

.button2{
  text-align: center;
  color: aliceblue;
  list-style: none;
}

/*principal 3*/


.principal3{
  background-image: url("https://img.freepik.com/vector-gratis/hermoso-fondo-blanco-formas-lineas-doradas_1017-27145.jpg?w=2000");
  height: 500px;
  background-size: cover;
  background-position: center;
}

.tempestad1{
position: relative;
left: 450px;
top: 90px;
}

.titulo3{
  position: relative;
  top: 160px;
  text-align: center;
  color: 	#D4AF37;
  font-size: 30px;
}


.button3{
  position: relative;
  top: 200px;
  text-align: center;
  list-style: none;
}

/*Principal 4*/

.principal4{
  background-image: url("https://images.unsplash.com/photo-1605710345595-9929bc7912ca?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Zm9uZG8lMjBuZWdybyUyMGxpc298ZW58MHx8MHx8&w=1000&q=80");
  height: 600px;
  background-size: cover;
  background-position: center;
}

.perdido1{
  position: relative;
  left: 1120px;
  width: 230px;
}

.perdido2{
  position:relative;
  left: 200px;
}

.titulo4{
  position: relative;
  top: 5px;
  text-align: center;
  color: 	#D4AF37;
  font-size: 30px;
}

.perdido3{
  position: relative;
  bottom: 250px;
  width: 220px;
}

.button4{
  position: relative;
  top: 20px;
  text-align: center;
  list-style: none;
  color: aliceblue;
}

/*Principal 5*/

.principal5{
  height: 650px;
  background-image: url("https://images.unsplash.com/photo-1605710345595-9929bc7912ca?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Zm9uZG8lMjBuZWdybyUyMGxpc298ZW58MHx8MHx8&w=1000&q=80");
  background-size: cover;
  background-position: center;
}

.pokemon1{
  position: relative;
  left: 305px;
  width: 250px;
  margin: 90px;
  transform: rotate(15deg);
  border-radius: 10px;
}

.pokemon2{
  position: relative;
  left: 100px;
  top: 90px;
  width: 250px;
  margin: 90px;
  border-radius: 10px;
  transform: rotate(15deg);
}

.titulo5{
  position: relative;
  top: 50px;
  text-align: center;
  color: 	#D4AF37;
  font-size: 30px;
}

.button5{
  position: relative;
  top: 30px;
  list-style: none;
  text-align: center;
  color: white;
}