


.form {
    background-image: url("https://static.vecteezy.com/system/resources/previews/006/930/071/non_2x/abstract-texture-background-smooth-gold-metal-wall-free-photo.jpg");;
    padding: 20px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #D4AF37;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }

  	input[type="submit"] {
            background-color:#000000;
			color: #fff;
			border: none;
			border-radius: 5px;
			padding: 10px 20px;
			font-size: 16px;
			cursor: pointer;
      width: 460px;
      
		}

  input[type="submit"]:hover {
    background-color:#c59700;
  }
  
.archivo{
    display: flex;
    flex-direction: column;
}

.archivo input{
    padding: 10px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 300px;
  margin-bottom: 20px;
  overflow: hidden;
  font-family: Arial, sans-serif;
  color: #333;
  transition: all 0.3s ease;
  position: relative;
  left: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.card-header {
  background-color: #fcbb6c;
  padding: 20px;
  text-align: center;
  border-radius: 10px 10px 0 0;
}

.card-header h2 {
  font-size: 24px;
  margin: 0;
  color: #fff;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #f5f5f5;
}

.card-body img {
  max-width: 200px;
  height: auto;
}

.card-footer {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

.card-footer .description {
  font-size: 16px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-footer .powers {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card:hover .card-header {
  background-color: #f78f3f;
}

.card:hover .card-header h2 {
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.card:hover .card-body {
  background-color: #fcbb6c;
}

.card:hover .card-footer {
  background-color: #f78f3f;
}