footer {
  background-image: url("https://static.vecteezy.com/system/resources/previews/006/930/071/non_2x/abstract-texture-background-smooth-gold-metal-wall-free-photo.jpg");
    padding: 50px 0;
    margin: 0px;
    height: 300px;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo img {
    width: 150px;
  }
 

  
  .social-icons{
    list-style: none;
    margin-bottom: 15px;
  }
  
  .social-icons a {
    margin: 0 10px;
    color: #fff;
    font-size: 24px;
  }
  
  .social-icons a li{
    list-style: none;
    text-decoration: none;

  }

  
  .bottom-bar {
    background-color: black;
    text-align: center;
    padding: 20px 0;
  }
  
  .bottom-bar p {
    margin: 0;
    font-size: 14px;
    color: white;
  }
  