.menu-navegacion{
background-image: url("https://static.vecteezy.com/system/resources/previews/006/930/071/non_2x/abstract-texture-background-smooth-gold-metal-wall-free-photo.jpg");
background-repeat: no-repeat;
height: 100px;
}

.contenedor{
    display: flex;
    justify-content: space-between;
}

.enlaces{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  
}

p{
    position: relative;
    right: 50px;
    top: 10px;
}