.tempestad{
    background-color: white;
    height: 170px;
}

.tempestad img{
    width: 400px;
    position: relative;
    left: 430px;
    bottom: 40px;
}

.tempestad-button{
    list-style: none;
    text-decoration: none;
    padding: 15px;
}

.galeria-tempestad{
    display: flex;
    width: 1200px;
    height: 430px;
   position: relative;
   left: 90px;
    
}

.galeria-tempestad img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .9;
    transition: .5s ease;
    margin-bottom: 40px;
}

.galeria-tempestad img:hover{
    cursor: pointer;
    width: 130px;
    opacity: 1;
    filter: contrast(120%);
}

.parrafo-tempestad{
    color: white;
    font-size: 20px;
    position: relative;
    left: 0px;
    text-align: center;
    padding: 15px;
}

.galeria-tempestad1 img{
    width: 350px;
    position: relative;
    left: 350px;
    padding: 15px;
    
}