.escarlata-1{
   text-align: center;
   margin-bottom: 20px;
}

.link{
    list-style: none;
    position: relative;
    top: 15px;
    right: 640px;
}
h1{
    color: 	#D4AF37 ;
    margin-bottom: 20px;
    text-align: center;
}


.galeria{
    background-color:rgb(255, 255, 255) ;
    display: flex;
    width: 1200px;
    height: 430px;
   position: relative;
   left: 90px;
    
}

.galeria img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .9;
    transition: .5s ease;
    margin-bottom: 25px;
}

.galeria img:hover{
    cursor: pointer;
    width: 130px;
    opacity: 1;
    filter: contrast(120%);
}


.parrafo-escarlata{
    font-size: 20px;
    margin: 15px;
    text-align: center;
    position: relative;
    left: 10px;
    color: white    0;
}

.galeria-escarlata img{
    position: relative;
    left: 250px;
    margin-top: 30px;
    margin-bottom: 55px;
    width: 250px;

}

.galeria-escarlata .mas{
    width: 50px;
}